<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Admin - Food Ordering</title>

    <link rel="stylesheet" th:href="@{/styles/landing.css}">
    <link rel="stylesheet" th:href="@{/styles/admin.css}">
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;600&display=swap" rel="stylesheet">
</head>
<body>
<header class="header">
    <div th:replace="~{fragments/AdminNav :: AdminNav}"></div>
</header>

<main class="main-content">
    <div class="dashboard">
        <h2 style="text-align: center;">Admin Dashboard</h2>
        <div class="admin-sections">
            <div class="section">
                <h3>Your Orders</h3>
                <table>
                    <thead>
                    <tr>
                        <th>Order ID</th>
                        <th>Item</th>
                        <th>Customer Name</th>
                        <th>Quantity</th>
                        <th>Price</th>
                        <th>Address</th>
                        <th>Ordered Time:</th>
                        <th>Status:</th>
                        <th>Action</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr th:each="order :${session.orders}">
                        <td th:text="${order.order_id}"></td>
                        <td th:text="${order.foodName}"></td>
                        <td th:text="${order.userName}"></td>
                        <td th:text="${order.quantity}"></td>
                        <td th:text=" '$'+${order.price}"></td>
                        <td th:text="${order.address}"></td>

                        <td th:text="${order.time}"></td>
                        <td th:text="${order.status}"></td>
                        <td>
                            <form th:action="@{/orders/action/{id}(id=${order.order_id})}" method="post">
                                <button type="submit">Deliver</button>
                            </form>

                    </tr>
                    </tbody>
                </table>
            </div>

            <div class="section">
                <h3>Manage Foods</h3>
                <table>
                    <thead>
                    <tr>
                        <th>Name</th>
                        <th>Description</th>
                        <th>Price</th>
                        <th>Quantity</th>
                        <th>Available</th>
                        <th>Actions</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr th:each="foodItem : ${foodItems}">
                        <td th:text="${foodItem.name}"></td>
                        <td th:text="${foodItem.description}"></td>
                        <td th:text=" 'USD'+ ' '+ ${foodItem.price}"></td>
                        <td th:text="${foodItem.quantity}"></td>
                        <td th:text="${foodItem.available}"></td>
                        <td>
                            <a class="edit" th:href="@{/foods/edit/{id}(id=${foodItem.id})}">Edit</a><br>
                            <form th:action="@{/foods/delete/{id}(id=${foodItem.id})}" method="post">
                                <button type="submit">Delete</button>
                            </form>
                        </td>
                    </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</main>

<div th:replace="~{fragments/footer :: footer}"></div>
</body>
</html>
