<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Your Cart</title>
    <link rel="stylesheet" th:href="@{/styles/cart.css}">
    <link rel="stylesheet" th:href="@{/styles/landing.css}">
    <link rel="stylesheet" th:href="@{/styles/user.css}">
</head>
<body>
<header class="header">
    <div th:replace="~{fragments/navbar :: navbar}"></div>
</header>

<main class="main-content">
    <h2>Your Cart</h2>
    <div th:if="${cartItems.isEmpty()}">
        <p>Your cart is empty</p>
    </div>
    <div class="order-section" style="text-align:center;">
        <div th:if="${!cartItems.isEmpty()}">
            <table>
                <thead>
                <tr>
                    <th>Food Name</th>
                    <th>Quantity</th>
                    <th>Price</th>
                    <th>Total</th>
                    <th>Action</th>
                </tr>
                </thead>
                <tbody>
                <tr th:each="cart : ${cartItems}">
                    <td th:text="${cart.food.name}"></td>
                    <td th:text="${cart.quantity}"></td>
                    <td th:text="${cart.food.price}"></td>
                    <td th:text="${cart.food.price * cart.quantity}"></td>
                    <td>
                        <form th:action="@{/cart/remove/{cartId}(cartId=${cart.id})}" method="post">
                            <button
                                    style="
                               text-align:center;
                                display: inline-block;
                                padding: 10px 20px;
                                background-color: red;
                                color: white;
                                text-decoration: none;
                                border: none;
                                border-radius: 5px;
                                font-size: 1rem;
                                cursor: pointer;
                                transition: background-color 0.3s ease;"
                                    type="submit"
                            >
                                Remove
                            </button>

                        </form>

                    </td>
                </tr>
                </tbody>
            </table>
            <br>
            <a href="/checkout"
               style="
               text-align:center;
                display: inline-block;
                padding: 10px 20px;
                background-color: #3b8c3a;
                color: white;
                text-decoration: none;
                border: none;
                border-radius: 5px;
                font-size: 1rem;
                cursor: pointer;
                transition: background-color 0.3s ease;"
            >Proceed to Checkout</a>
        </div>
    </div>

</main>

<div th:replace="~{fragments/footer :: footer}"></div>

</body>
</html>
