<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>User - Food Ordering</title>
    <link rel="stylesheet" href="../styles/landing.css">
    <link rel="stylesheet" href="../styles/user.css">
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;600&display=swap" rel="stylesheet">
</head>
<body>
<header class="header">
    <div th:replace="~{fragments/navbar :: navbar}"></div>

</header>

<main class="main-content">
    <h2 th:text="'Welcome, '+ ${session.currentUser.username}"> </h2>
    <div class="order-section">
        <h3>Your Orders</h3>
        <table>
            <thead>
            <tr>
                <th>Order ID</th>
                <th>Item</th>
                <th>Quantity</th>
                <th>Price</th>
                <th>Address</th>
                <th>Ordered Time:</th>
                <th>Status</th>
            </tr>
            </thead>
            <tbody>
            <tr th:each="order :${session.orders}">
                <td th:text="${order.order_id}"></td>
                <td th:text="${order.foodName}"></td>
                <td th:text="${order.quantity}"></td>
                <td th:text=" '$'+${order.price}"></td>
                <td th:text="${order.address}"></td>
                <td th:text="${order.time}"></td>
                <td th:text="${order.status}"></td>
            </tr>
            </tbody>
        </table>
    </div>

    <div class="profile-section" style="text-align: center;">
        <h3>Your Profile</h3>
        <p><strong>Name:</strong></p><p th:text="${session.currentUser.username}"></p>
        <p><strong>Email:</strong></p><p th:text="${session.currentUser.email}"></p>
        <p><strong>Address:</strong></p><p th:text="${session.currentUser.address}"></p>
    </div>
</main>
<div th:replace="~{fragments/footer :: footer}"></div>
</body>
</html>
